@page
@model BikeWebShop.Pages.BikePageModel
@{
}


<section class="py-5 bg-image" style="background-image: url('/Images/BackGroundBikePage.png'); height: auto; width:auto; background-position: center; background-size: cover; ">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="data:image;base64,@Convert.ToBase64String(@Model.bike.GetImageData())" alt="..." />
                <p class="lead ms-5">@Model.Description</p>
            </div>
            <div class="col-md-6 col-e">
                <h1 class="display-5 fw-bolder">@Model.bike.GetBrand()</h1>
                <div class="fs-5 mb-5">
                    <div class="small mb-1">@Model.bike.GetBikeType()</div>
                    <span>@Model.bike.GetPrice() &euro;</span>
                </div>
                <div class="fs-5 mb-5 d-flex align-items-center">
                    <div class="input-group input-group-sm">
                        <button class="btn btn-outline-dark flex-shrink-0 bg-dark text-black" type="button">
                            <a asp-page="ShoppingCart" asp-page-handler="addtocart" asp-route-id="@Model.bike.GetId()" class="btn btn-dark">
                                 Add to cart
                             </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
