@page 
@model BikeWebShop.Pages.ShoppingCartModel
@{
}

<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
        </div>
                @if(Model.cart != null)
                {
                    @foreach (var item in Model.cart)
                    {
                        <form method="post" asp-page="cart" asp-page-handler="update">
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="data:image;base64,@Convert.ToBase64String(Model.inventory.GetBike(item.bikeid).GetImageData())" class="img-fluid rounded-3" alt="@Model.inventory.GetBike(item.bikeid).GetBrand()" />
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                           <p>Quantity:</p>
                                           <p>@item.quantity</p>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h5 class="mb-0">@(Model.inventory.GetBike(item.bikeid).GetPrice() * @item.quantity) &euro;</h5>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 text-center">
                                        <button class="btn btn-outline-dark flex-shrink-0 bg-dark text-black" type="button">
                                            <a asp-page="ShoppingCart" asp-page-handler="delete" asp-route-id="@item.bikeid" class="btn btn-dark">Remove</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    }
                }
                else
                {
                    <h1>No Items in cart Yet</h1>
                }

                @if(Model.cart != null && Model.cart.Count > 0)
                {
                    <div class="card">
                        <div class="card-body text-black">
                            <button type="button" class="btn btn-dark btn-block btn-lg">
                                <a class="text-decoration-none text-white" asp-area="" asp-page="/Checkout">Proceed to Pay</a>
                            </button>
                            <h4>Total Price: @Model.Total.ToString("C") &euro;</h4>
                        </div>
                    </div>
                }

      </div>
    </div>
  </div>
</section>
