@page
@model BikeWebShop.Pages.StoreModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-3 justify-content-left">
            <div class="border border-aqua rounded p-4">
                <h4>Filter:</h4>
                <form method="post" id="filter-form">
                    @foreach (var type in Model.inventory.GetBikesType())
                    {
                        var memberInfo = typeof(BikeClassLibrary.BikeType).GetMember(type.ToString());
                        var descriptionAttribute = memberInfo[0].GetCustomAttributes(typeof(System.ComponentModel.DescriptionAttribute), false).FirstOrDefault() as System.ComponentModel.DescriptionAttribute;
                        var description = descriptionAttribute != null ? descriptionAttribute.Description : type.ToString();

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Types" id="@System.Convert.ToInt32(type)" value="@System.Convert.ToInt32(type)" onchange="submitForm()">
                            <label class="form-check-label" for="@System.Convert.ToInt32(type)">
                                @description
                            </label>
                        </div>
                    }
                </form>
            </div>
        </div>
        <div class="col-9">
            <form method="get">
                <div class="input-group">
                    <input class="form-control rounded" asp-for="SearchedTerm" placeholder="Search" />
                    <button type="submit" class="btn btn-outline-dark">search</button>
                </div>
            </form>
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        @foreach (var bike in Model.Catalog)
                        {
                            <div class="col">
                                <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="50">
                                        <img src="data:image;base64,@Convert.ToBase64String(bike.GetImageData())" alt="@bike.GetBrand()" />
                                    </svg>
                                    <div class="card-body-sm">
                                        <p class="card-text">@bike.GetBrand()</p>
                                        <p class="card-text">@bike.GetPrice() &euro;</p>
                                        <div class="d-flex justify-content-between align-items-center m-1">
                                            <div class="btn-group m-1">
                                                <a asp-area="" asp-page="BikePage" asp-route-id="@bike.GetId()" class="btn btn-sm btn-outline-secondary">View More</a>
                                                <a asp-page="ShoppingCart" asp-page-handler="addtocart" asp-route-id="@bike.GetId()" class="btn btn-sm btn-outline-secondary">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm() {
        // Save the state of the checked checkboxes in local storage
        var checkedBoxes = document.querySelectorAll('input[name="Types"]:checked');
        checkedBoxes.forEach(function (box) {
            localStorage.setItem(box.value, true);
        });

        // Submit the form
        document.getElementById("filter-form").submit();
    }

    // Restore the state of the checkboxes from local storage when the page is loaded
    document.addEventListener("DOMContentLoaded", function () {
        var checkboxes = document.querySelectorAll('input[name="Types"]');
        checkboxes.forEach(function (box) {
            if (localStorage.getItem(box.value) === "true") {
                box.checked = true;
            }

            // Add event listener to each checkbox to handle unchecking
            box.addEventListener('change', function (event) {
                if (!event.target.checked) {
                    localStorage.removeItem(event.target.value);
                }
            });
        });
    });
</script>